<div class="example-container mat-elevation-z8">
  <!-- <mat-form-field class="date">
    <input matInput   [matDatepicker]="picker" placeholder="Choose a date" [max]="maxDate" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
 <form [formGroup]="datesForm">
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
           (bsValueChange)="startDateChange($event)">
  </div>
    <!-- <input type="date" name="begin"  bsDatepicker datePickerMomentModifier 
    placeholder="dd-mm-yyyy" value="" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
    min="1997-01-01" max="2030-12-31" formControlName="startDate"(input)="startDateChange($event)">
    <input type="date" name="begin" 
    placeholder="dd-mm-yyyy" value=""
    min="1997-01-01" max="2030-12-31"formControlName="endDate"(input)="endDateChange($event)"> -->
 </form>
  <!-- <mat-form-field class="date">
    <input matInput  (dateChange)="endDateChange($event)" [matDatepicker]="picker2" placeholder="Choose a date" [max]="maxDate" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field> -->
  <span class="material-icons" (click)="applyDateFilter()">
    search
    </span>
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="mail">
        <mat-header-cell *matHeaderCellDef> mail </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mail}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pn">
        <mat-header-cell *matHeaderCellDef> pn </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pn}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef> surname</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="birthDate">
        <mat-header-cell *matHeaderCellDef> birthDate</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.birthDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> category</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator 
              [pageSize]="10"
              [pageSizeOptions]="[2,4,5, 10, 25]">
    </mat-paginator>
</div>
