<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="page">Categories</span>
        <span class="example-spacer"></span>
        <nav>
             <button mat-raised-button class="add-user">
                 <a routerLink="/status" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="color-blue">Status</span></a>
             </button>
             <button mat-raised-button class="add-user">
                 <a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="color-blue">List</span></a>
             </button>
             <button mat-raised-button class="add-user">
                 <a routerLink="/details" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="color-blue">Details</span></a>
             </button>
        </nav>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="container" >
    <div class="title">
        <form class="filter" [formGroup] = FilterForm>
            <h2>Filter:</h2>
            <input type="text" formControlName="filter" placeholder="Search Here..." onfocus="this.placeholder=''" >
        </form>
    </div>
    
    <div >
        <ul class="table">
            <!-- <li class="li-context_2"><h2>Users</h2><div class="action_center">
                <h2 class="edit" >Actions</h2></div></li> -->
            <li *ngFor="let user of (usersArr | filter:searchText | paginate: { itemsPerPage: z, currentPage: p });let i = index">
                <div class="li-context"><h2 >{{user.user}}</h2> <div class="action">
                <button class="edit" (click)="openEdit(i+((z)*(p-1)))">Edit</button>
                <button  class="add" (click)="openAdd(i+((z)*(p-1)))">Add</button>
                <button  class="delete" (click)="delete(i+((z)*(p-1)))">Delete</button>
            </div></div>
            </li>
        </ul>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="modal" *ngIf="modalEditOpen"  >
        <div class="background" (click)="closeModalEdit()"></div>
        <div class="modal-content" >
            <h2 class="edit-user">Edit User</h2>
            <input type="text" [formControl]="edituser" (keyup.enter)="editUser()">
            <div class="buttons">
                <button (click)="editUser()" >Edit</button>
                <button (click)="closeModalEdit()">Close</button>
            </div>
        </div>
    </div>
    <div class="modal" *ngIf="modalAddOpen" >
        <div class="background" (click)="closeModaladd()"></div>
        <div class="modal-content" >
            <h2 class="edit-user">Add User</h2>
                <input type="text" [formControl]="adduser" (keyup.enter)="addNewUser()"  >
                <div *ngIf="showError">Enter User Categorie</div>
                <div class="buttons">
                    <button (click)="addNewUser()" >Add</button>
                    <button (click)="closeModaladd()">Close</button>
                </div>
        </div>
    </div>
    <div class="modal" *ngIf="modalDeleteOpen" >
        <div class="background" (click)="closeModalDelete()"></div>
        <div class="modal-content" >
            <h2>Do you want to delete <em>{{user}}?</em></h2>
            <div class="buttons">
                <button (click)="DeleteNewUser()" >Delete</button>
                <button (click)="closeModalDelete()">Close</button>
            </div>
        </div>
    </div>
</div>
