<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-raised-button class="add-user">User Status</button> -->
        <span class="page">Users Status</span>

        <span class="example-spacer"></span>
        <nav>
             <button mat-raised-button class="add-user">
                 <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="color-blue">Categories</span></a>
             </button>
             <button mat-raised-button class="add-user">
                 <a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="color-blue">List</span></a>
             </button>
             <button mat-raised-button class="add-user">
                 <a routerLink="/details" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="color-blue">Details</span></a>
             </button>
        </nav>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="container" >
    <div class="title">
        <form class="filter" [formGroup] = FilterForm>
            <label><h2>Filter:</h2></label>
            <input type="text" formControlName="filter" placeholder="Search Here..." onfocus="this.placeholder=''" >
        </form>
    </div>
    
    <div >
        <ul class="table">
            <li *ngFor="let status of (statusArr  | filter:searchText | paginate: { itemsPerPage: z, currentPage: p }); let i = index">
                <div class="li-context"><h2 class="status">{{status.status}}</h2>
                <div class="action">
                <button class="edit" (click)="openEdit(i+((z)*(p-1)))">Edit</button>
                <button  class="add" (click)="openAdd(i+((z)*(p-1)))">Add</button>
                <button  class="delete" (click)="delete(i+((z)*(p-1)))">Delete</button>
                </div>
                </div>
            </li>
        </ul>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="modal" *ngIf="modalEditOpen"  >
        <div class="background" (click)="closeModalEdit()"></div>
        <div class="modal-content" >
            <h2 class="edit-user">Edit Status</h2>
            <input type="text" [formControl]="editstatus" (keyup.enter)="editStatus()">
            <div class="buttons">
                <button (click)="editStatus()">Edit</button>
                <button (click)="closeModalEdit()">Close</button>
            </div>
        </div>
    </div>
    <div class="modal" *ngIf="modalAddOpen" >
        <div class="background" (click)="closeModaladd()"></div>
        <div class="modal-content" >
            <h2 class="edit-user">Add Status</h2>
                <input type="text" [formControl]="addstatus" (keyup.enter)="addNewStatus()"  >
                <div *ngIf="showError">Enter User status</div>
                <div class="buttons">
                    <button (click)="addNewStatus()" >Add</button>
                    <button (click)="closeModaladd()">Close</button>
                </div>
        </div>
    </div>
    <div class="modal" *ngIf="modalDeleteOpen" >
        <div class="background" (click)="closeModalDelete()"></div>
        <div class="modal-content" >
            <h2>Do you want to delete <em>{{status}}?</em></h2>
            <div class="buttons">
                <button (click)="DeleteNewStatus()" >Delete</button>
                <button (click)="closeModalDelete()">Close</button>
            </div>
        </div>
    </div>
</div>
