<!-- <div class="container" >
    <div class="title">Users List</div>
    <ul class="table">
        <li *ngFor="let user of list" >
            <div class="li-context"><span class="user">
                mail:{{user.mail}}</span>
                pn:{{user.pn}} 
                name:{{user.name}} 
                surname:{{user.surname}} 
                birthDate:{{user.birthDate}} 
                category:{{user.category}} 
                status:{{user.status}}</span></div>
        </li>
    </ul>
</div> -->