.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .filters{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: rgb(139, 139, 139);
    padding: 10px;

  }
  button{
    cursor: pointer;
    border-radius: 7px;
    border:none;
    padding: 7px 14px;
    color: #5c7cfa;
    background-color: #e4e4e4;
}
  .buttons{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    background-color: rgb(210, 210, 210);
  }
  .buttons_2{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    background-color: rgb(100, 94, 194);
  }
  .dates{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
  }
  label{
    color: rgb(136, 136, 136);
  }
  .choose_Date{
    padding: 7px;
    /* border-radius: 8px; */
  }
  .search{
    cursor:pointer;
  }
  .example-header {
    min-height: 64px;
    /* max-width: 200px; */
    padding: 10px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .date{
    /* min-width: 150px; */
    max-width: 150px;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .example-spacer {
    flex: 1 1 auto;
}
h2{
    margin: 0px;
    color: #3f51b5;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
a{
    text-decoration: none;
}
.color-blue{
    color: #5c7cfa;
}
button{
  padding: 0px 14px;
}